.about-page {
  color: var(--text-color);
  padding: 2rem;
  border: 2px solid var(--muted-color);
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1);
  max-width: 800px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-page h1,
.about-page h2,
.about-page p,
.about-page li {
  color: var(--text-color);
}

.about-page h1,
.about-page h2 {
  font-size: xx-large;
  padding: 1rem;
}

.about-page ul li {
  list-style-type: disc;
}

.about-page li {
  list-style-position: outside;
  padding-left: 1.5em;
  padding-bottom: 1em;
  text-align: left;
}

.about-page p {
  margin-bottom: 0.75rem;
  line-height: 1.6;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}