/*------- SHARED between in/ouput -------*/

* {
    /*avoid clipping*/
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(230, 225, 191);

    width: 80vw;
    min-height: 60vh;
    max-height: 85vh;
    border-radius: 3px;
}

.form {
    display: flex;
    flex-direction: column;

    min-width: 80%;
    max-height: 60vh;
    border-radius: 2px;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    gap: 20px;
}

.form-wrapper h2 {
    padding: 10px;
}

@media only screen and (min-width: 600px) {
    .form-wrapper {
        width: 70vw;
        min-height: 70vh;
    }

    .form {
        min-width: 80%;
        max-height: 70vh;
    }
}

@media only screen and (min-width: 1000px) {
    .form-wrapper {
        width: 60vw;
        min-height: 80vh;
    }
}