/*------- SHARED between in/ouput -------*/

* {
    /*avoid clipping*/
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*--- themes ---*/
:root {
    --form-bg: #aad4c7;
    --text-color: #000000;
}

/*--- Dark theme ---*/
[data-theme="dark"] {
    --form-bg: #464c57;
    --text-color: #efefef;
}

/*-------------------------*/

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--form-bg);

    width: 80vw;
    min-height: 60vh;
    max-height: 85vh;
    border-radius: 3px;
    box-shadow: 0 0 2px #000000;
}

.form {
    display: flex;
    flex-direction: column;

    min-width: 80%;
    max-height: 60vh;
    border-radius: 2px;
    /*padding here to make sure error:focus at inputPage.css shows well*/
    padding: 5px;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    gap: 20px;
}

.form-wrapper h2 {
    padding: 10px;
}

/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    max-height: 10%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (min-width: 600px) {
    .form-wrapper {
        width: 70vw;
        min-height: 70vh;
    }

    .form {
        min-width: 80%;
        max-height: 70vh;
    }
}

@media only screen and (min-width: 1000px) {
    .form-wrapper {
        width: 60vw;
        min-height: 80vh;
    }
}