/*------- SHARED between in/ouput -------*/

* {
    /*avoid clipping*/
    box-sizing: border-box;
}


:root {
    --form-bg: #aad4c7;
    --text-color: #000000;
    --inputsgrid-bg: #c3df8e;
    --input-text-color: #000000;
    --button-bg: rgb(185, 176, 193);
    --button-bg2: #cbeac4;
    --button-bg2-hover: #9ac688;
}

/*--- Dark theme ---*/
[data-theme="dark"] {
    --form-bg: #1f1f1f;
    --text-color: #efefef;
    --inputsgrid-bg: #4a4a4a;
    --input-text-color: #000000;
    --button-bg: #717475;
    --button-bg2: #717475;
    --button-bg2-hover: #323632;
}

/*-------------------------*/

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--form-bg);

    width: 80vw;
    min-height: 50vh;
    max-height: 85vh;
    border: 2px solid var(--muted-color);
    border-radius: 8px;
    box-shadow: 0 0 2px #000000;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;

    min-width: 80%;
    max-height: 60vh;
    border-radius: 2px;
    /*padding here to make sure error:focus at inputPage.css shows well*/
    padding: 5px;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.form-wrapper h2 {
    padding: 10px;
}

/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    max-height: 10%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (min-width: 600px) {
    .form-wrapper {
        width: 70vw;
        max-height: 90vh;
    }

    .form {
        margin-top: 20px;
        min-width: 80%;
        max-height: 70vh;
    }
}

@media only screen and (min-width: 1000px) {
    .form-wrapper {
        width: 60vw;
        max-height: 80vh;
    }
}