* {
    /*avoid clipping*/
    box-sizing: border-box;
}

.form {
    background-color: rgb(104, 105, 110);
    width: 70vw;
    height: auto;
    margin: 0 auto;
    padding-bottom: 2%;
}

.inputs-grid {
    background-color: rgb(65, 60, 60);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2px;
}

.inputs-grid-copy {
    background-color: rgb(65, 60, 60);
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
}

/*beauty thing*/
.grant-input {
    padding-bottom: 5px;
}

/*bigger fields pt1*/
/* span across all columns */
.applicantID {
    grid-column: 1/-1;
}

.memberID {
    grid-column: 1/-1;
}

/*Project desc*/
.desc-box {
    grid-column: 1/-1;
}

/*copy's desc*/
.member-desc {
    width: 180%;
}

/*bigger desc input field pt2*/
#desc-input {
    height: 70px;
}

.desc-textarea {
    /*dont allow rezising the box -breaks grid*/
    resize: none;
    width: 100%;
    height: 50px;
    overflow: auto;
    /* internal scrollbar when content exceeds max-height */
    white-space: pre-wrap;
    /* word-break: break-word; */
    box-sizing: border-box;
}

/*size up all text boxes*/
input {
    height: 40px;
    width: 100%;
}

/* Buttons */
.buttons {
    gap: 20px;
}

#submit-btn {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;

    background-color: rgb(185, 176, 193);
    color: black;
    height: 5vh;
    width: 20vw;
}

#submit-btn:hover {
    background-color: aliceblue;
    color: black;
}

#add-btn {
    font-size: x-large;
    display: grid;
    margin-left: 10px;
    width: 40px;
    height: auto;
}

#del-btn {
    font-size: x-large;
    justify-self: end;
    width: 30px;
    height: 35px;
    /*placement:*/
    align-self: center;
    margin-right: 10px;
}

@media only screen and (min-width: 600px) {

    /*justify items + align items and inputs-grid's margin
    makes centering items possible! 
    'place-items: center' limits inputs-grid too much*/
    .form {
        border-radius: 2px;
        width: 40%;
        display: grid;
        justify-items: stretch;
        align-items: start;
        padding-top: 5vh;
    }

    .inputs-grid {
        max-width: 80%;
        margin: 0 auto;
    }

    #add-btn {
        margin-left: 10%;
    }

    #submit-btn {
        width: 10vw;
    }
}