* {
    /*avoid clipping*/
    box-sizing: border-box;
}

.form {
    background-color: rgb(104, 105, 110);
    width: 70vw;
    height: auto;
    margin: 0 auto;
    padding-bottom: 2%;
}

.inputs-grid {
    background-color: rgb(65, 60, 60);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2px;
}

.inputs-grid-copy {
    background-color: rgb(65, 60, 60);
    display: grid;
    grid-column: span 1.5;
    grid-template-columns: repeat(2, 1fr);
}

/*bigger fields pt1*/
/*lead applicant id field*/
.applicantID {
    /* span across all columns */
    grid-column: 1/-1;
}

/*member id field*/
.memberID {
    grid-column: 1/-1;
}

/*Project description*/
.desc-box {
    grid-column: 1/-1;
    width: 100%;
}

/*bigger height for project desciption*/
#desc-input {
    height: 70px;
}

/*members' description
 Separate from .desc-box
  bcause of del-btn*/
.member-desc {
    width: 150%;
}


/* All textareas, unless spesified elsewhere*/
.desc-textarea {
    /*dont allow rezising the box -breaks grid*/
    resize: none;
    width: 100%;
    height: 50px;
    overflow: auto;
    /* internal scrollbar when content exceeds max-height */
    white-space: pre-wrap;
    /* word-break: break-word; */
    box-sizing: border-box;
}

/*size up all text boxes*/
input {
    height: 40px;
    width: 100%;
}

.buttons {
    gap: 20px;
}

#submit-btn {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;

    background-color: rgb(185, 176, 193);
    color: black;
    height: 5vh;
    width: 20vw;
}

#submit-btn:hover {
    background-color: aliceblue;
    color: black;
}

#add-btn {
    font-size: x-large;
    display: grid;
    margin-left: 10px;
    width: 40px;
    height: auto;
}

#del-btn {
    font-size: x-large;
    justify-self: end;
    width: 30px;
    height: 35px;
    /*placement:*/
    align-self: center;
    margin-right: 10px;
}

.kauppalehti-link {
    color:black;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}
.kauppalehti-button {
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    align-self: center;
    justify-self: center;
}
.para {
    font-size: small;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    justify-self: center;
}
.kauppalehti-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 1/-1;
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /*justify items + align items and inputs-grid's margin
    makes centering items possible! 
    'place-items: center' limits inputs-grid too much*/
    .form {
        border-radius: 2px;
        width: 40%;
        display: grid;
        justify-items: stretch;
        align-items: start;
        padding-top: 5vh;
    }

    .inputs-grid {
        max-width: 80%;
        margin: 0 auto;
    }

    #add-btn {
        margin-left: 10%;
    }

    #submit-btn {
        width: 10vw;
    }

    #del-btn {
        margin-right: 2px;
    }

    /*copy's desc*/
    .member-desc {
        width: 170%;
    }
}