* {
    /*avoid clipping*/
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
    background-color: rgb(104, 105, 110);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 70vw;
    height: auto;
    /* margin: 0 auto; */
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 2%;
}

.inputs-grid {
    background-color: rgb(65, 60, 60);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2px;
}

.inputs-grid-copy {
    background-color: rgb(65, 60, 60);
    display: grid;
    grid-column: span 1.5;
    grid-template-columns: repeat(2, 1fr);
}

/*-------- Errors! ---------*/

.input-error:focus {
    border: 1px solid #e53935;
    box-shadow: 0 0 0 3px rgba(246, 8, 4, 0.869);
    outline: none;
    border-radius: px;
}

.error-text {
    color: #ff7674;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: small;
}

/*-------- ------ ---------*/

/*bigger fields pt1*/
/*lead applicant id field*/
.applicantID {
    /* span across all columns */
    grid-column: 1/-1;
}

/*member id field*/
.memberID {
    grid-column: 1/-1;
}

/*Project description*/
.desc-box {
    display: grid;
    grid-column: 1/-1;
    width: 100%;
}

/*bigger height for project desciption*/
#desc-input {
    min-height: 70px;
    margin-bottom: 5px;
}

/*members' description
 Separate from .desc-box
  bcause of del-btn*/
.member-desc {
    width: 150%;
}


/* All textareas, unless spesified elsewhere*/
.desc-textarea {
    /*dont allow rezising the box -breaks grid*/
    resize: none;
    width: 100%;
    height: 50px;
    overflow: auto;
    /* internal scrollbar when content exceeds max-height */
    white-space: pre-wrap;
    /* word-break: break-word; */
    box-sizing: border-box;
}

/*size up all text boxes*/
input {
    height: 40px;
    width: 100%;
}

.buttons {
    gap: 20px;
}

#submit-btn {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;

    background-color: rgb(185, 176, 193);
    color: black;
    height: 5vh;
    width: 20vw;
}

#submit-btn:hover {
    background-color: aliceblue;
    color: black;
}

#add-btn {
    font-size: x-large;
    display: grid;
    margin-top: 2%;
    margin-left: 10px;
    width: 40px;
    height: auto;
}

#del-btn {
    font-size: x-large;
    width: 30px;
    height: 33px;
    margin: 10px;
}

.kauppalehti-container {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
    grid-column: 1/-1;
    width: 100%;
}

.kauppalehti-link {
    color: black;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}

.kauppalehti-button {
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    align-self: center;
    justify-self: center;
}

.para {
    font-size: small;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    text-align: center;
    justify-self: center;
    align-items: center;
    flex-direction: row;
}

@media only screen and (min-width: 600px) {

    /*justify items + align items and inputs-grid's margin
    makes centering items possible! 
    'place-items: center' limits inputs-grid too much*/
    .form {
        border-radius: 2px;
        width: 40%;
        display: grid;
        justify-items: stretch;
        align-items: start;
        padding-top: 5vh;
    }

    .inputs-grid {
        max-width: 85%;
        margin: 0 auto;
    }

    #add-btn {
        margin-top: 1%;
        margin-left: 10%;
    }

    #submit-btn {
        width: 10vw;
    }

    /*copy's desc*/
    .member-desc {
        width: 170%;
    }
}