/*----------Input spesific css-----------------------*/

/*----------------------*/

.inputs-grid {
    max-width: 100%;
    max-height: 100%;
    background-color: var(--inputsgrid-bg);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    box-shadow: 0 0 2px #000000;
}

/*size up all text boxes*/
input {
    height: 40px;
    width: 100%;
    color: var(--input-text-color);
}

/* All textareas, unless spesified elsewhere*/
.desc-textarea {
    color: var(--input-text-color);
    /*dont allow rezising the box -breaks grid*/
    resize: none;
    width: 100%;
    height: 50px;
    overflow: auto;
    /* internal scrollbar when content exceeds max-height */
    white-space: pre-wrap;
    /* word-break: break-word; */
    box-sizing: border-box;
}

/*bigger height for project desciption*/
#desc-input {
    min-height: 70px;
}

.desc-box {
    display: grid;
    grid-column: 1/-1;
    width: 100%;
}

.input-box {
    margin: 0;
    padding: 0;
}

/*member id field*/
.memberID {
    grid-column: 1/-1;
    width: 100%;
    margin-top: 3%;
}

/*--------Input Errors! ---------*/

.input-error:focus {
    border: 1px solid #e53935;
    box-shadow: 0 0 0 3px rgba(246, 8, 4, 0.869);
    outline: none;
    border-radius: 2px;
}

.error-text {
    color: #ff7674;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: small;
}

/*-------- input buttons ---------*/

button {
    text-align: center;
    background-color: var(--button-bg2);
    border-radius: 5px;
}

#submit-btn {
    margin: 5%;
    margin-bottom: 20px;

    border: 2px solid black;
    border-radius: 5px;
    position: sticky;

    background-color: var(--button-bg);
    color: var(--text-color);

    height: 5vh;
    width: 20vw;
}


#submit-btn:hover {
    background-color: aliceblue;
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

}

#add-btn {
    color: var(--input-text-color);
    font-size: x-large;
    display: flex;
    align-items: center;

    margin-top: 2%;
    margin-left: 10px;

    width: 36px;
    height: 36px;
    color: var(--text-color);
}

#del-btn {
    font-size: x-large;
    color: var(--input-text-color);
    display: flex;
    align-items: center;
    grid-column: 2;

    width: 36px;
    height: 36px;

    margin-top: 10px;
    color: var(--text-color);
}

#add-btn:hover {
    background-color: var(--button-bg2-hover);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

#del-btn:hover {
    background-color: var(--button-bg2-hover);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.kauppalehti-button {
    font-size: medium;
    margin-top: 10px;
    padding: 8px;
    align-self: center;
    justify-self: center;

}

.kauppalehti-button:hover {
    background-color: var(--button-bg2-hover);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}


.advanced-form-configuration>button {
    /*margin doesnt work, no space in grid*/
    position: relative;
    top: -25px;
}

/*-----input kauppalehti------*/
.kauppalehti-container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
    grid-column: 1/-1;
    width: 100%;
}

.kauppalehti-link {
    color: var(--text-color);
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}

.para {
    font-size: small;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    text-align: center;
    justify-self: center;
    align-items: center;
    flex-direction: row;
}

@media only screen and (min-width: 600px) {

    #desc-input {
        height: 100px;
    }

    #submit-btn {
        width: 15vw;
        min-height: 5vh;
        max-height: 5vh;
    }
}

@media only screen and (min-width: 1000px) {

    #submit-btn {
        max-width: 8vw;
    }
}