/*----------Output spesific-----------------------*/

/*-------------------------*/

* {
    /*avoid clipping*/
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}

span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    /* font-weight: bold; */
    letter-spacing: 0.5px;
    color: var(--text-color);
}

/*without this straffic lishts wont be shown as row*/
.trafficlights-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #ff1900; */
    gap: 10%;
}

.result-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.eval-container {
    background-color: var(--inputsgrid-bg);
    width: 95%;
    align-self: center;
    border-radius: 3px;
    box-shadow: 0 0 5px #000000;
}

.feedback-container {
    background-color: var(--inputsgrid-bg);
    color: var(--text-color);
    width: 95%;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 0 3px #000000;
    margin-bottom: 5%;
}

/*TRAFFIC LiGHTS below*/
/*singular light in trafficlights*/
.trafficlight-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trafficlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
    padding: 10%;
    width: 50px;
    background-color: #282828;

}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    /* display: inline-block; */
}

/*3 traffic light -base */
.trafficlights .dot {
    opacity: 0.25;
    /* transition: opacity 120ms ease, transform 120ms ease; */
}

/*3 traffic lights -active color*/
.trafficlights .dot.active {
    opacity: 1;
    /* transform: scale(1.05); */
    box-shadow: 0 0 6px #000000;
}

/* all lights are shown */
.dot.green {
    background: #1fff23;
}

.dot.yellow {
    background: #ffe100;
}

.dot.red {
    background: #ff1900;
}

@media only screen and (min-width: 600px) {

    .output-form {
        width: 70vw;
    }
}

@media only screen and (min-width: 900px) {

    .output-form {
        width: 60%;
    }
}